<component name="libraryTable">
  <library name="mybatis-3.4.6">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../笔记/MyBatis配套资料/查询缓存（一级、二级）和逆向工程/MyBatisGenerator/src/mybatis-3.4.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../笔记/MyBatis配套资料/查询缓存（一级、二级）和逆向工程/MyBatisGenerator/src/mybatis-generator-core-1.3.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>