<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建学生对象的配置文件-->
    <bean id="myStudent" class="com.mms.ba04.Student" autowire="byType">
        <property name="name" value="赵六"/>
        <property name="age" value="26"/>
    </bean>
</beans>