<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--声明目标对象-->
    <bean id="service" class="com.mms.ba04.ServiceImpl"/>

    <!--声明切面对象-->
    <bean id="myAspectsJ" class="com.mms.ba04.MyAspectJ"/>

    <!--
        有接口也可以指定使用cglib动态代理方式
    -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>